.card-body {
	margin: 0 0 20dp;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.card-icon {
	height: 45vw;
	max-height: 250dp;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 200dp;
    border: 1px solid rgba(0,0,0,.1);
	background-clip: padding-box;
}
.card-title {
	padding: 12dp;
	font-size: 14dp;
	line-height: 1.7;
	text-align: center;
	color: #555;
}
.card-id {
	font-size: 16dp;
	font-weight: bold;
	color: [active-color];
}
.card-body:last-child .card-title {
	border-bottom: 0;
}

@media screen and (max-width: [max-width]) {
	article {
		background: [active-color];
	}
	article > section {
		padding: 15dp 0;
		background: [active-color];
	}
	article > section > h2 { display: none; }
	.card-title, .card-id  {
		color: #fff;
	}
	.card-body {
		border-color: rgba(255,255,255,.5);
	}
}